.App {
    text-align: center;
}

p {
    /*
        boostrap adds a margin-bottom to every p. lets remove it here
    */
    margin-bottom: 0;

    font-family: 'Josefin Sans', sans-serif;
}

#app {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-image: url('./images/laptop-bg.jpg');
    background-attachment: fixed;
}
